{% extends "PepertTicketingBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pepertticketing/css/paiement.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <div class="container">
        <span id="title">Paiement</span>

        {% for message in app.session.flashbag.get('information') %}
            <br/>
            <div  class="flashbag">
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('error') %}
            <br/>
            <div  class="flashbag">
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        <div id="content" class="col-md-12">
            <h3 id="steps">
                <span id="step1">Étape 1</span>
                >
                <span id="step2">Étape 2</span>
                >
                <span id="step3">Étape 3</span>
            </h3>

            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Commande en cours :</p>
                        {% if commande is defined %}
                            {% for item in commande %}
                                <p>{{ item }}</p>
                            {% endfor %}
                        {% endif %}
                        <hr/>
                        <p>Le montant total est de <strong>{{ price / 100 }} Euros</strong></p>
                        <p>Merci de sélectionner un système de paiement :</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <img class="logo" src="{{ asset('bundles/pepertticketing/images/logo_paypal.png') }}" alt="Paypal"/>
                        </div>
                        <div class="row">
                            <a href="{{ path('pepert_ticketing_paiement_paypal') }}">
                                <button class="btn-choice">Paypal</button>
                            </a>
                        </div>
                    </div>
                    <hr class="visible-xs"/>
                    <div class="col-sm-6">
                        <div class="row">
                            <img class="logo" src="{{ asset('bundles/pepertticketing/images/logo_stripe.png') }}" alt="Paypal"/>
                        </div>
                        <div class="row">
                            <button id="customButton" class="btn-choice">Stripe (Carte bancaire)</button>
                        </div>
                    </div>
                </div>
            </div>

            <a href="{{ path('pepert_ticketing_tickets', {'nbTickets': nbTickets }) }}"><button class="btn-choice">Retour</button></a>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
        {% if price is defined %}
        var price = {{ price }};
        var url = '{{ path('pepert_ticketing_paiement_stripe_validated') }}';
        var pk = '{{ publishable_key }}';
        {% endif %}
    </script>
    <script src="{{ asset('bundles/pepertticketing/js/paiement.js') }}"></script>
{% endblock %}