<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Billetterie</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container text-center">
    <div id="header">
        <h1>Billetterie du Musée du Louvre</h1>
    </div>

    <hr/>

    {% for message in app.session.flashbag.get('information') %}
        <p>{{ message }}</p>
    {% endfor %}

    {% for message in app.session.flashbag.get('error') %}
        <p>{{ message }}</p>
    {% endfor %}

    <div id="content" class="col-md-12">
        <p>Merci de sélectionner un système de paiement :</p>
        <a href="{{ path('pepert_ticketing_paiement_paypal') }}">
            <button class="btn btn-primary">Paypal</button>
        </a>
        <span id="content" class="col-md-12">
            <button id="customButton" class="btn btn-primary">Stripe (Carte bancaire)</button>
        </span>
    </div>

    <hr>

    <footer>
        <div>

        </div>
    </footer>
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script>
        var handler = StripeCheckout.configure({
            key: '{{ publishable_key }}',
            locale: 'auto',
            token: function(token) {
                var url = '{{ path('pepert_ticketing_paiement_stripe_validated') }}';
                var form = $('<form action="' + url + '" method="post">' +
                        '<input type="hidden" name="stripeToken" value="' + token.id + '" />' +
                        '</form>');
                $('body').append(form);
                form.submit();
            }
        });

        $('#customButton').on('click', function(e) {
            // Open Checkout with further options
            handler.open({
                currency: "eur",
                amount: {{ price }}
            });
            e.preventDefault();
        });

        // Close Checkout on page navigation
        $(window).on('popstate', function() {
            handler.close();
        });
    </script>
{% endblock %}

</body>
</html>