{% extends "PepertTicketingBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pepertticketing/css/paiementvalid.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <div class="container">
        <span id="title">Transaction effectuée</span>

        <div id="content" class="col-md-12">
            <h3 id="steps">
                <span id="step-final">Étape finale</span>
            </h3>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            <div class="well">

            {{ form_errors(form) }}

                <p>Merci de vérifier votre adresse e-mail afin de bien reçevoir les tickets achetés :</p>

                <div class="form-group">
                    {{ form_errors(form.email) }}
                    {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}

                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            {{ form_widget(form.submit, {'label': 'Valider cette adresse', 'attr': {'class': 'btn-choice'}}) }}

            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}