{% extends "PepertTicketingBundle::layout.html.twig" %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('bundles/pepertticketing/css/ticket.css') }}" type="text/css">

    <div class="container">
        <span id="title">Identification des visiteurs</span>

        {% for message in app.session.flashbag.get('validation') %}
            <br/>
            <div class="flashbag no-empty">
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        <div id="empty" class="flashbag">
            <span>Certains champs n'ont pas été remplis</span>
        </div>

        {% set visitorNumber = 0 %}

        <div id="content" class="col-md-12">
            <h3 id="steps">
                <span id="step1">Étape 1</span>
                >
                <span id="step2">Étape 2</span>
                >
                <span id="step3">Étape 3</span>
            </h3>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {% for form in form.tickets %}
                {% set visitorNumber = visitorNumber + 1 %}

                <div class="well">

                    <h3>Visiteur n°<span id="{{ 'visitor' ~ visitorNumber }}">{{ visitorNumber }}</span></h3>

                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <br/>
                                {{ form_errors(form.name) }}
                                {{ form_label(form.name, "Nom", {'label_attr': {'class': 'control-label'}}) }}
                                <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <br/>
                                {{ form_errors(form.firstname) }}
                                {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'control-label'}}) }}
                                <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
                                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <br/>
                                {{ form_errors(form.birthday) }}
                                {{ form_label(form.birthday, "Date de naissance", {'label_attr': {'class': 'control-label'}}) }}
                                <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 day">
                                                {{ form_widget(form.birthday.day, {'attr': {'class': 'form-control day'}}) }}
                                            </div>
                                            <div class="col-xs-12 col-sm-4 month">
                                                {{ form_widget(form.birthday.month, {'attr': {'class': 'form-control month'}}) }}
                                            </div>
                                            <div class="col-xs-12 col-sm-4 year">
                                                {{ form_widget(form.birthday.year, {'attr': {'class': 'form-control year'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <br/>
                                {{ form_errors(form.country) }}
                                {{ form_label(form.country, "Pays", {'label_attr': {'class': 'control-label'}}) }}
                                <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
                                        {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <br/>
                        <br/>
                        {{ form_errors(form.tarif_reduit) }}
                        <div>
                            <p><strong>Cliquez ici pour bénéficier du tarif réduit</strong></p>
                            {{ form_widget(form.tarif_reduit) }}
                            {{ form_label(form.tarif_reduit, "Bénéficier du tarif réduit", {'label_attr': {'class': 'bouton-tarif btn-choice control-label'}}) }}
                        </div>

                        <p class="col-sm-offset-3 col-sm-6">Les personnes pouvant bénéficier du tarif réduit sont les étudiants,
                            les employés du musée ou d’un service du Ministère de la Culture, et les militaires.
                            Une carte attestant de ce statut sera demandée à l'entrée.</p>
                    </div>

                    {{ form_rest(form) }}

                </div>

            {% endfor %}

            <a href="{{ path('pepert_ticketing_homepage') }}"><button class="btn-choice btn-bottom">Retour</button></a>
            {{ form_widget(form.submit, {'label': 'Valider', 'attr': {'class': 'btn-choice btn-bottom'}}) }}

            {{ form_end(form) }}

            <footer>
                <div>

                </div>
            </footer>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{ asset('bundles/pepertticketing/js/ticket.js') }}"></script>

{% endblock %}