<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Billetterie</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container text-center">
    <div id="header">
        <h1>Billetterie du Musée du Louvre</h1>
    </div>

    <hr/>

    {% for message in app.session.flashbag.get('validation') %}
        <p>{{ message }}</p>
    {% endfor %}

    {% set visitorNumber = 0 %}

    <h3>Acheter un ticket</h3>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {% for form in form.tickets %}
        {% set visitorNumber = visitorNumber + 1 %}

        <div class="well visitorform">

            <h3>Visiteur n°<span id="{{ 'visitor' ~ visitorNumber }}">{{ visitorNumber }}</span></h3>

            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_errors(form.name) }}
                {{ form_label(form.name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_errors(form.firstname) }}
                {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_errors(form.country) }}
                {{ form_label(form.country, "Pays", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_errors(form.birthday) }}
                {{ form_label(form.birthday, "Date de naissance", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.birthday) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_errors(form.tarif_reduit) }}
                <div class="col-sm-offset-3 col-sm-6">
                    {{ form_label(form.tarif_reduit, "Beneficier du tarif réduit", {'label_attr': {'class': 'control-label'}}) }}
                </div>
                <div class="col-sm-offset-3 col-sm-6">
                    {{ form_widget(form.tarif_reduit) }}
                </div>

                <p class="col-sm-offset-3 col-sm-6">Les personnes pouvant profiter du tarif réduit sont les étudiants,
                    les employés du musée ou d’un service du Ministère de la Culture, et les militaires.
                    Une carte attestant de ce statut sera demandée à l'entrée.</p>
            </div>

            {{ form_rest(form) }}

        </div>

    {% endfor %}

    <hr/>

    <a href="javascript:history.go(-1)"><button class="btn btn-primary">Retour</button></a>
    {{ form_widget(form.submit, {'label': 'Valider', 'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_end(form) }}

    <hr>

    <footer>
        <div>

        </div>
    </footer>
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>